html, body {
    padding: 0;
    margin: 0;
    background-color: rgb(246, 173, 83);
}

h1 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    background-color: rgb(246, 173, 83);
    height: 140px;
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: transform 0.45s cubic-bezier(0.4, 0, 0.2, 1);
}

img:hover {
    transform: scale(1.1);
}

.recipes {
    display: flex;
    flex-direction: row;
    height: 500px;
    align-items: center;
    margin-bottom: 50px;
    background-color: rgb(241, 234, 234);
    padding: 50px;
    gap: 20px;
}

p {
    text-align: center;
    font-size: 2rem;
}

.recipe-link {
    text-decoration: none;
    text-decoration-style: none;
}

.recipe-image {
    display: flex;
    margin: auto;
    width: 600px;
    height: auto;
}

.recipe-info {
    background-color: aliceblue;
    padding: 40px 30px 5px 30px;

}

.para-description {
    background-color:  rgb(246, 173, 83);
    padding: 30px;
    border-radius: 5px;
}